@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

body {
  margin: 0;
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 100px;
}

.section-title {
  margin-left: 15px;
  font-family: 'Baloo Chettan 2', cursive;
  color: grey;
}

/* Tweet list */

.tweet-list {
  list-style: none;
  margin: 8px 4px 0;
  padding: 0;
  margin: 25px 150px 25px 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.tweet-card {
  background-color: #fff;
  border-bottom: 1px solid #e6ecf0;
  min-height: 52px;
  padding: 9px 12px;
}

.tweet-card:hover {
  background-color: rgba(255, 255, 255, 0.746);
}

.tweet-content {
  margin-left: 58px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.tweet-username, .tweet-date {
  color: grey;
}

.tweet-verified {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  vertical-align: sub;
}

.tweet-card-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}

.tweet-footer-item {
  width: 200px;
  margin-right: 10px;
}

.tweet-footer-item-icon, .tweet-footer-item-span {
  color: #657786;
  font-weight: lighter;
  font-size: 16px;
}

.tweet-footer-item-span {
  margin-left: 8px;
}

@media all and (max-width: 699px) {
  .tweet-list {
    margin: 25px 30px 25px 30px;
  }
}

@media all and (max-width: 699px) and (min-width: 520px) {
  .tweet-list {
    margin: 25px 80px 25px 80px;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .tweet-list {
    margin: 25px 110px 25px 110px;
  }
}