@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

body {
  margin: 0;
  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 100px;
}

.section-title {
  margin-left: 15px;
  font-family: 'Baloo Chettan 2', cursive;
  color: grey;
}